body {
  padding: 45px 0;
  font-family: 'Montserrat', sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-image: url('https://static.pexels.com/photos/6870/city-dark-new-york-bridge.jpg');
  !important;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0b3354;
}

/*Styles for the weather div where weather info will go*/

#weather {
  margin: 0px auto;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

/* h2, h3, ul, li styles*/

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 150px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
#weather h3 {
  margin: 0px auto;
  color: #fff;
}
#weather ul {
  margin: 0;
  padding: 0;
}
#weather li {
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}
#weather .currently {
  margin: 0 20px;
}
#weather .weekly-forecast {
  padding: 20px;
  display: inline-block;
}
#weather .location-style {
  font-size: 30px;
  margin: 0!important;
  font-weight: 200;
  letter-spacing: 2px;
}
#weather .temp-style {
  font-size: 5.5em;
  margin: 0!important;
  font-weight: 200;
}
.weather-updated {
  color: #a3caeb;
}
.weekly-forecast {
  text-align: center;
  margin: 0 auto;
  letter-spacing: 2px;
  text-transform: uppercase !important;
}
.weather-updated: {
  text-transform: lowercase;
  font-weight: 200;
  text-align: center;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 850px;
  /* or 950px */
  background-color: #0379dc;
  -webkit-box-shadow: -1px 0px 15px -2px rgba(84, 84, 84, 0.7);
  -moz-box-shadow: -1px 0px 15px -2px rgba(84, 84, 84, 0.7);
  box-shadow: -1px 0px 15px -2px rgba(84, 84, 84, 0.7);
}
.col-md-1 {
  margin: 40px !important;
  padding-left: 5px;
  padding-right: 5px;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) {
  body {
    background-color: #0379dc;
    background-image: none;
  }
}
